appdirs==1.4.4
attrs==21.4.0
clldutils==3.11.1
colorlog==6.6.0
csvw==2.0.0
gitdb==4.0.9
GitPython==3.1.27
igraph==0.9.10
isodate==0.6.1
joblib==1.1.0
latexcodec==2.0.1
lingpy==2.6.9
lingrex==1.2.0
networkx==2.8
numpy==1.22.3
pybtex==0.24.0
pycldf==1.25.1
python-dateutil==2.8.2
python-igraph==0.9.10
PyYAML==6.0
rfc3986==1.5.0
scikit-learn==1.0.2
scipy==1.8.0
-e git+https://github.com/sigtyp/ST2022@70846b2aec73e4c724892b9a3d86b90f2eb63240#egg=sigtypst2022
six==1.16.0
smmap==5.0.0
tabulate==0.8.9
texttable==1.6.4
threadpoolctl==3.1.0
tqdm==4.64.0
uritemplate==4.1.1

